<a href="https://colab.research.google.com/github/iamrayyaann/ml-archive/blob/main/MLProject0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load Data

## Dependencies

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
df = pd.read_csv("daily_water_consumption.csv")
df

,Date,Person_ID,Age,Gender,City,Temperature_C,Activity_Level,Water_Consumed_Liters
0,2025-01-01,P0001,21,Female,Karachi,22.1,Medium,2.40
1,2025-01-02,P0001,21,Female,Karachi,41.0,Medium,3.31
2,2025-01-03,P0001,21,Female,Karachi,26.4,High,2.96
3,2025-01-04,P0001,21,Female,Karachi,31.4,Medium,3.16
4,2025-01-05,P0001,21,Female,Karachi,35.7,Low,2.43
...,...,...,...,...,...,...,...,...
36495,2025-12-27,P0100,55,Male,Rawalpindi,22.7,Medium,2.49
36496,2025-12-28,P0100,55,Male,Rawalpindi,39.3,High,3.54
36497,2025-12-29,P0100,55,Male,Rawalpindi,40.6,Low,2.93
36498,2025-12-30,P0100,55,Male,Rawalpindi,34.1,Low,2.23
36499,2025-12-31,P0100,55,Male,Rawalpindi,16.4,Low,1.57

# Clean Data

In [ ]:
df = df.drop(['Date', 'Person_ID', 'Age', 'Gender', 'City', 'Activity_Level'], axis=1)
df

       Temperature_C  Water_Consumed_Liters
0               22.1                   2.40
1               41.0                   3.31
2               26.4                   2.96
3               31.4                   3.16
4               35.7                   2.43
...              ...                    ...
36495           22.7                   2.49
36496           39.3                   3.54
36497           40.6                   2.93
36498           34.1                   2.23
36499           16.4                   1.57

[36500 rows x 2 columns]

In [ ]:
X = df['Temperature_C']
X

0        22.1
1        41.0
2        26.4
3        31.4
4        35.7
         ...
36495    22.7
36496    39.3
36497    40.6
36498    34.1
36499    16.4
Name: Temperature_C, Length: 36500, dtype: float64

In [ ]:
Y = df['Water_Consumed_Liters']
Y

0        2.40
1        3.31
2        2.96
3        3.16
4        2.43
         ...
36495    2.49
36496    3.54
36497    2.93
36498    2.23
36499    1.57
Name: Water_Consumed_Liters, Length: 36500, dtype: float64